
      
body, h1, h2, h5, h6{
    margin: 0;
    overflow-x: hidden;
    }

    h6 {
      padding-bottom: 10px;
      font-size: 16px;
    }

    h5 {
      font-size: 20px;
    }
    img {
      width: 40px;
      height: 40px;
    }

    p {
      margin-top: 0px;
    }
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 100px repeat(3, 1fr) 100px;
    }

    .item {
        text-align: center;
        align-items: center;
        padding: 40px;  
    }
    .item:hover {
        filter: contrast(120%);
    }
    
    
    .item:nth-of-type(1) {
      grid-column: 1 / span 4;
      grid-row: 1;   
      margin: 0 40px;
    }
 
    .item:nth-of-type(2) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        background-color:  #D6D66F;
      }
    
      .item:nth-of-type(3) {
        grid-column: 2/ 3 ;
        grid-row: 3 / 4;
        background-color: #9984A8;
      }

      .item:nth-of-type(4) {
        grid-column: 3/ 3;
        grid-row: 3 / 4;
        background-color:  #F0ADE8;
      }
      .item:nth-of-type(5) {
        grid-column: 4 / span 4;
        grid-row: 3 / 4;
        background-color: #8597B9;
      }

      .item:nth-of-type(6) {
        background-color: #2C2C2C;
        grid-column: 1/ span 4;
        grid-row: 2;
        display: flex;
        justify-content: space-around;

      }
      .item:nth-of-type(7) {
        grid-column: 1/ span 4;
        grid-row: 4;  
        padding-bottom: 0;  
      }
      .pay {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
      }
      .mp h5{
        font-size: 30px;
        font-family: 'Rubik', sans-serif;
        margin-bottom: 20px;
      }
      .mp p {
        font-size: 16px;
        font-family: 'Rubik', sans-serif;
        margin-bottom: 20px;
      }

      .container-mp p{
        font-size: 15px;
        font-family: 'Kanit', sans-serif;
      
      }
    .item:nth-of-type(8) {
      grid-column: 1/ span 4;
      grid-row: span 6;
      background-color: wheat;

    }



     @media screen and (max-width: 320px) {
      .item:nth-of-type(1) {
        margin: 0;
      } 
      .item{
        padding: 20px 10px 0 10px;
      }
     }
      @media screen and (max-width: 420px) {
          
          .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 100px repeat(5, 1fr) 100px;
            }
            .pay {
              display: block;
            }
            .item{
              padding: 20px 10px 0 10px;
            }
            .apuntes p {
                font-size: 40px;
                margin: 0;
            }
            h6 {
              margin-bottom:20px
            }
        
            .item:nth-of-type(1) {
            grid-column: 1 / span 3;
            grid-row: 1;   
            margin: 0;
          }
       
      
      
          .item:nth-of-type(2) {
              grid-column:  1 / span 3;
              grid-row: 3;
              background-color: #D6D66F;
            }
          
            .item:nth-of-type(3) {
              grid-column:  1 / span 3;
              grid-row: 4;
              background-color: #9984A8;
            }
      
            .item:nth-of-type(4) {
              grid-column:  1 / span 3;
              grid-row: 5;
              background-color: #F0ADE8;
            }
            .item:nth-of-type(5) {
              grid-column:  1 / span 3;
              grid-row: 6;
              background-color: #8597B9;
            }
      
            .item:nth-of-type(6) {
              grid-column:  1 / span 3;
              grid-row: 2;
      
            }
            .item:nth-of-type(7) {
              grid-column: 1/ span 3;
              grid-row: span 7;
        
            }
            .item:nth-of-type(8) {
              grid-column: 1/ span 3;
              grid-row: span 8;
              background-color: wheat;
        
            }
           
            
            .about h2{
                display: none;
            }

            .about p{
                margin: 30px
            }
            .header p {
              display: none;
            }
          
      }
      @media screen and (max-width: 768px){
          .container {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 100px repeat(5, 1fr) 100px;
          }
          .item{
            padding: 20px;
          }
          .item:nth-of-type(1) {
            grid-column: 1 / span 3;
            grid-row: 1;   
          }
       
      
      
          .item:nth-of-type(2) {
              grid-column: 1 / span 3;
              grid-row: 3;
            }
          
            .item:nth-of-type(3) {
              grid-column: 1 / span 3;
              grid-row: 4;
              background-color: #9984A8;
            }
      
            .item:nth-of-type(4) {
              grid-column: 1 / span 3;
              grid-row: 5;
              background-color: #F0ADE8;
            }
            .item:nth-of-type(5) {
              grid-column:  1 / span 3;
              grid-row: 6;
              background-color: #8597B9;
            }
      
            .item:nth-of-type(6) {
              grid-column:  1 / span 3;
              grid-row: 2;
      
            }
            .item:nth-of-type(7) {
              grid-column: 1 / span 3;
              grid-row: span 7;
        
            }
            .item:nth-of-type(8) {
              grid-column: 1 / span 3;
              grid-row: span 8;
              background-color: wheat;
        
            }
      }
 
        .header{ 
            display: flex;
            list-style: none;
            font-family: 'Kanit', sans-serif;
            color: black;
            padding: 20px 40px;
            justify-content: space-between;  
        }
        .header a {
            text-decoration: none;
            font-size: 25px;
            color: black;
            padding: 10px;
        }

        .apuntes a {
            text-align: center;
            font-family: 'Kanit', sans-serif;
            text-decoration: none;
            color: white;
            font-size: 35px;
            margin: auto;
        }

        .far {
            font-size: 17px;
                }
        .fa-twitter:hover{
          color: #1EA1F2;
        }
        
        .fa-linkedin-in:hover{
          color:#3790C3;
        }

        .fa-github:hover{
          color: lightslategray;
        }

        button{
            border:2px solid white;
            background-color: transparent;
            color: white;
            padding: 10px 30px;
            text-align: center;
            cursor: pointer;
            font-size: 16px;
            font-family: 'Kanit', sans-serif;
            -webkit-transition: color 300ms;
            transition: color 300ms;
            position: relative;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
        }

        button:before{
        content: " ";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        opacity: 0.3;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition: 300ms ease-out;
        transition: 300ms ease-out;
      }
      
        button:hover:before {  
        color: black;
        transform: scaleY(1);
        transform: scaleY(1);
      }

      
       

        .about h2 {

            font-family: 'DM Serif Text', serif;
            font-size: 50px;
            color: white;
        }
        .about p{
            font-family: 'Rubik', sans-serif;
            font-size: 20px;
            color: white;
        }

        .link{
            text-decoration: none;
            color: hotpink;
        }

        .tw{
            color: #1EA1F2;
        }

        .footer {
          font-family: 'Rubik', sans-serif;
          padding: 40px;
        }
